# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# JSON files
package.json
package-lock.json

# pptx file
lamadeleine_assessment.pptx
~$*